* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 5rem;
  margin-block: 2.5rem 5rem;
}

h2 {
  font-size: 3.5rem;
  margin-block: 1rem 2rem;
}

h3 {
  font-size: 3rem;
  margin-block: 0.75rem 1.5rem;
}

h4 {
  font-size: 2.5rem;
  margin-block: 0.65rem 1.25rem;
}

h5 {
  font-size: 1.5rem;
  margin-block: 0.5rem 1rem;
}

h6 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: blanchedalmond;
}

html {
  background-color: #98bcff;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: min(calc(100% - 60px), 1080px);
}

header,
footer {
  background-color: #064063;
  text-align: center;
  color: white;
  padding-block: 20px;
}

header h1 {
  text-shadow: 4px 3px 2px black, -4px -4px 1px rgba(255, 255, 255, 0.77);
}

header h1::before {
  content: "The ";
}

header h1::after {
  content: " albums";
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.gallery {
  display: flex;
}

.gallery .image-container,
hgroup {
  background-color: white;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.image-container img {
  width: 50%;
  min-width: 250px;
  border-radius: 20px;
}

.image-container img:hover {
  /* width: 800px;
  position: absolute;

  transition: width 1s ease-in-out; */
}

.gallery hgroup {
  padding: 80px;
  background-color: white;
  position: relative;

  -webkit-box-shadow: inset 40px 15px 50px 5px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: inset 40px 15px 50px 5px rgba(0, 0, 0, 0.42);
  box-shadow: inset 40px 15px 50px 5px rgba(0, 0, 0, 0.42);
}

.gallery hgroup h3 {
  transform-origin: 0 0;
  transform: rotate(90deg);
  position: absolute;
  left: 112px;
  width: 70vh;
}

.paragraphs {
  display: flex;
  flex-wrap: wrap;
}

.paragraphs article {
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  height: 300px;
  overflow-y: auto;
  min-width: 250px;
  flex: 1;
}

.paragraphs article::-webkit-scrollbar-track {
  margin: 12px 3px 12px 0;
}

footer nav {
  display: flex;
  justify-content: center;
}

footer nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
  text-transform: uppercase;
}

footer div {
  margin-block: 40px 30px;
}

footer div input {
  padding: 5px 2px;
}

footer p {
  font-size: 0.8rem;
}

.pointer {
  cursor: pointer;
}

.rounded {
  border-radius: 20px;
  border: 3px solid white;
}

@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
  }

  .gallery hgroup {
    padding: 20px 30px;
  }

  .gallery hgroup h3 {
    transform: none;
    position: initial;
    width: auto;
  }

  .image-container {
    order: 2;
  }

  .paragraphs article {
    min-width: 400px;
  }

  .image-container img {
    width: 100%;
  }
}

@media (max-width: 420px) {
  body {
    width: 100%;
  }

  * {
    border-radius: 0 !important;
    border: none !important;
  }

  .paragraphs {
    row-gap: 10px;
  }

  main {
    row-gap: 12px;
  }
}
